{% extends './layout.html' %}
{% block title %}blog{% endblock%}
{% block content%}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div>
          <ul class="nav navbar-nav">
              <li class="active"><a href="/show">首页</a></li>
              <li><a href="/showabout">关于</a></li>
          </ul>
      </div>
    </div>
</nav>

<div class="showBody">
  <div class = "recentpaper">
    <ul id="recentlist">
    </ul>
  </div>
  <div class = "historypaper">
    <h3>以前的文章</h3>
    <ul id="historylist">
    </ul>
  </div>
</div>


<script>
  $(function(){
    let paperlist = []
    let historylist = []
    $.get('/getPaperlist', function(data, status){
      if(status){
        paperlist = data.data
        for (let i = 0; i < data.data.length%10; i++){
          const content = paperlist[i].content.replace(/\n/g,"<br>")
          $("#recentlist").append("<li><article>"+
                                  "<h3><a class=\"listtitle\" href=\"/read?id =" + paperlist[i]._id + "\">" +paperlist[i].title+"</a></h3><br>"+
                                  "<h5 class =\"listmessage\">"+paperlist[i].date +" "+
                                  "&nbsp;&nbsp;&nbsp;类型:&nbsp;"+paperlist[i].type + "</h5><br>" +
                                  "<p class=\"listcontent\">"+content+"</p>"+
                                  "</article></li>")
        }
      }
    })

    $.get('/getHistroylist', function(data, status){
      if(status){
        historylist = data.data
        for (let i = 0; i < data.data.length%10; i++){
          let date = (data.data[i].date).replace(/-/g,"/")
          date = new Date(date)
          let month = date.getMonth()+1
          let day = date.getDate()
          $("#historylist").append( "<li>" + "<span>" + month + "." + day + "</span>" +
                                    "<a href=\"/read?id=" + data.data[i]._id + "\">"+
                                    data.data[i].title + "</a></li>"
                                  )
        }
      }
    })
  })
</script>
{% endblock %}