{% extends './base.html' %}
{% block body %}
<div class="col-md-4 recentUpdate">
  <h4>最近更新</h4>
  <div id = "paperlist">
   <table class="table">
     <thead>
       <th>标题</th>
       <th>类型</th>
       <th>更新时间</th>
     </thead>
     <tbody id = "listPlace">
     </tbody>
   </table>
  </div>
</div>

<div class="col-md-4 historyPaper">
    <h4>历史文章</h4>
    <ul id="historylist">
    </ul>
<div>

  <script>
    $(function(){
      var paperlist = [];
      var historylist = [];
      $.get('/getPaperlist',function(data, status){
        if (status){
          paperlist = data.data
          //alert(data.data[0].title);
          for (let i = 0; i < data.data.length%10; i++)
            $("#listPlace").append("<tr id=\"" + data.data[i]._id + "\">" +
                                   "<td>"+ data.data[i].title + "</td>"+
                                   "<td>"+ data.data[i].type + "</td>" + 
                                   "<td>"+ data.data[i].date + "</td>"
                                   + "</tr>")
        }
        for(let i = 0; i < paperlist.length; i ++ ){
        $("#" + paperlist[i]._id).dblclick(function(){
          const url = "/reading?id=" + (paperlist[i]._id).toString()
          window.location.href = url
        })
      }
    })
    $.get('/getHistroylist', function(data, status){
      if(status){
        historylist = data.data
        for (let i = 0; i < data.data.length%10; i++){
          let date = (data.data[i].date).replace(/-/g,"/")
          date = new Date(date)
          let month = date.getMonth()+1
          let day = date.getDate()
          $("#historylist").append( "<li>" + "<span>" + month + "." + day + "</span>" +
                                    "<a href=\"/reading?id=" + data.data[i]._id + "\">"+
                                    data.data[i].title + "</a></li>"
                                  )
        }
      }
    })
    
   
    })
  </script>
{% endblock %}