{% extends './base.html' %}
{% block body %}
 <div class = "col-mb-12 col-tb-9 write_body">
   <div class="textplace">
    <form class="form-horizontal">
    <div class="form-group1">
        <label for="title" class="sr-only">标题</label> 
        <input id = "title" type="text" class = "col-md-6 title" id="title" placeholder="title"> 
      </div>
      <div class="form-group">
        <textarea id ="content"></textarea>
        <button id = "save">存草稿</button>
        <button id = "pass">提交</button>
      </div>  
    </form>
    </div>
    <div class="classical">
      <h4>分类</h4>
      <ul>
        <li>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="随笔"> 默认
          </label>
        </li>
        <li>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="随笔"> 随笔
          </label>
        </li>
        <li>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="学习"> 学习
          </label>
        </li>
        <li>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="其他"> 其他
          </label>
        </li>
      </ul>
    </div>
 </div>

  <script>
    function getNowFormatDate() {
      var date = new Date();
      var seperator1 = "-";
      var seperator2 = ":";
      var month = date.getMonth() + 1;
      var strDate = date.getDate();
      var strMin = date.getMinutes();
      if (month >= 1 && month <= 9) {
          month = "0" + month;
      }
      if (strDate >= 0 && strDate <= 9) {
          strDate = "0" + strDate;
      }
      if (strMin >=0 && strMin <=9) {
        strMin = "0" + strMin;
      }
      var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
              + " " + date.getHours() + seperator2 + strMin
              + seperator2 + date.getSeconds();
      return currentdate;
    }
    $(function(){
      var simplemde = new SimpleMDE();
      var isDraft = false;
      var type = "随笔";
      //判断是否为草稿
      $("#save").click(function (){
        isDraft = true;
        $.post("/console/write",
        {
          title : $("#title").val(),
          content : simplemde.value(),
          draft : isDraft
        },
      function (data, status){
        if(status){
          window.location.href = "/write"
        }
        })
      })
      //设置默认类型
      $("#inlineRadio1").attr('checked', 'true');

      //获取文章类型
      $("input[name='inlineRadioOptions']").filter(':checked').val();
      //上传文章
      $("#pass").click(function (){
        let date = getNowFormatDate()
        $.post("/write",
        {
          title : $("#title").val(),
          content : simplemde.value(),
          draft : isDraft,
          date: date,
          type: type
        },
        function (data, status){
          if(status){
            window.location.href = "/write"
          }
        })
      })

    })
  </script> 
{% endblock %}