.box {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center; 
}
.form-group label{
   display: flex;
  justify-content: flex-end;
}
.recentUpdate {
  position: relative;
  top:60px;
  right: 200px;
  border: black solid thin;
  width:400px;
  height: 400px;
}   
.historyPaper {
  position: relative;
  top:60px;
  border: black solid thin;
  width:400px;
  height: 400px;
}
.historyPaper a {
  margin-left: 10px
}
.historyPaper li {
  list-style-type: none
}
.write_body {
  position: relative;
  top:60px;
  right: 200px;
}
.form-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px
}
.form-group {
  width: 600px;
  padding-left: 13px;
}
.form-group1 {
  margin-bottom: 20px;
}
.form-group1 input {
  width: 585px;
}
/*.write_body {
  display: flex;
  justify-content: space-between;
}*/
.CodeMirror {
  height: 300px;
}
.textplace {
  float: left;
}
.classical {
  margin-left: 50px;
  float: left;
  border: black solid thin;
  width:200px;
  height: 200px;
}
.classical li {
   list-style-type: none
}
#recentlist li{
  list-style-type: none;
}
#recentlist li:hover{
  background-color:	#E0E0E0
}
.listtitle {
  color: dodgerblue;
  margin-bottom: 20px;
}
.listmessage {
  color:dimgrey;
  margin-top: -20px;
  margin-bottom: -10px;
}
.recentpaper {
  float: left;
  width: 700px;
  height: 500px;
}
.historypaper {
  float: left;
  width: 400px;
  height: 500px;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;
}
.historypaper li {
  list-style-type: none;
}
.historypaper a {
  margin-top: 5px;
  margin-left: 10px
}
.about {
  text-align: center;
  margin-top: 200px;
}
.about h5 {
  color: gray
}